[Match]
Name={{ network_interface }}

[Network]
{% if dhcp is defined %}
DHCP={{ dhcp }}
{% elif ipv4_address is defined or ipv6_address is defined %}
{% if ipv4_address is defined %}
Address={{ ipv4_address }}{{ ipv4_netmask }}
{% endif %}
{% if ipv6_address is defined %}
Address={{ ipv6_address }}{{ ipv6_netmask }}
{% endif %}
{% for server in dns_servers %}
DNS={{server}}
{% endfor %}
{% endif %}
{% if mdns is defined %}
MulticastDNS=yes
{% endif %}
